@model IEnumerable<SMS.webapp.ViewModel.CountryVm>
@{
    int IdNo = 1;
}

<h1 class="text-center">Country List</h1>
<hr />
<a asp-action="CreateOrEdit" asp-controller="Country" class="btn btn-sm btn-outline-info">Create New</a>
<table class="table table-responsive table-bordered mt-3 bg-light">
    <thead>
        <tr>
            <th class="text-xenter">#</th>
            <th class="text-center">Name</th>
            <th class="text-center">StudentId</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@IdNo</td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StudentId
                </td>

                <td class="text-center">
                    <a asp-action="CreateOrEdit" asp-controller="Country" asp-route-Id="@item.Id" class="btn btn-sm btn-primary">Edit</a>


                    <a asp-action="Delete" asp-controller="Country" asp-route-Id="@item.Id" onclick="return confirm('Are you sure delete this item?')" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            IdNo++;
        }

    </tbody>

</table>

